@use "../Base/mixins";
nav {
  border: 1px solid #000;
  border-radius: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 20px;
  img {
    height: 5rem;
  }
  .menu img {
    height: 45px;
    padding-right: 0.5rem;
  }
}
.bignav {
  visibility: hidden;
}

.hero {
  position: relative;
  h1 {
    font-family: "UrbanistBk";
    font-size: 38px;
    line-height: 40px;
    width: 150px;
    position: absolute;
    top: 70px;
    left: 70px;
  }
  img {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }
}

// MEDIA QUERIES

@include mixins.md {
  .hero {
    h1 {
      font-size: 68px;
      line-height: 65px;
      width: 260px;
      top: 160px;
      left: 100px;
    }
  }
}

@include mixins.lg {
  nav {
    .bignav {
      visibility: visible;
      position: relative;
      right: -150px;
      a {
        font-family: "UrbanistReg";
        font-size: 18px;
        color: #000;
        margin-right: 60px;
      }
      a:first-of-type {
        font-family: "UrbanistBk";
        text-decoration: underline;
      }
    }
    .menu {
      visibility: hidden;
    }
  }
  .hero {
    h1 {
      font-size: 118px;
      line-height: 80px;
      width: 440px;
      top: 250px;
      left: 150px;
    }
  }
}
